// Typography
$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$break-small: 500px;
$break-medium: 760px;
$break-large: 1200px;

$red: #ff0000;
$blue: #0000ff;
$green: #39B54A;
$yellow: #FFFF00;