header {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 400;
  position: relative;
  padding-top: 21px;
  .logo {
    margin: 0 auto;
    width: 85px;
    margin-bottom: 21px;
    @include mobile {
      margin: 0;
      width: 25px;
      margin-left: 21px; margin-top:21px;
    }
  }
  .links {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      li {
        display: inline-block;
        a:hover.about {
          color: blue;
        }
        a:hover.follow {
          color: red;
        }
        a:hover.shop {
          color: green;
        }
      }
    }
    &.links-left>ul {
      margin-left: 21px;
      position: absolute;
      left: 0;
      @include mobile {
        position: relative;
        float: right;
        margin-right: 21px; margin-top:21px;
        margin-left: 0;
      }
    }
    &.links-right>ul {
      width: 130px;
      margin-right: 21px;
      position: absolute;
      right: 0;
      @include mobile {
        position: relative;
        float: right;
        margin-top:21px;
      }
    }

    &.links-center ul {
      // border: 1px solid red;
      position: relative;
      margin: 0 auto;
      width: 300px;
      padding: 0 7px;
      transition: all ease-in-out 200ms;

      @include mobile {
        width: auto;
        padding: 7px 21px;
      }

      > span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000000;
        opacity: 1;
        transition: all ease-in-out 200ms;
      }

      &.first > span {
        left: 5%;
        right: 95%;
      }
      &.second > span {
        left: 50%;
        right: 50%;
      }
      &.third > span {
        left: 95%;
        right: 5%;
      }


      > li {
        // border: 1px solid green;
        position: relative;
        padding: 21px 0;

        > span {
          transition: all ease-in-out 200ms;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #000000;
          opacity: 0;
        }

        &:hover > span {
            opacity: 1;
          }

      }

    }
  }


  .dropdown-menu {
    min-width: auto;
    background-color: rgba(255,255,255,.95);
    padding: 5px 10px;
    margin-right: -10px;
    border-radius: 3px;
    ul {
      display: block;
      li {
        display: block;
        text-align: right;
      }
    }
  }
  @include mobile {
    position: fixed;
    margin: 0; padding: 0;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    z-index: 25;
  }
}
