.releases {
    display: flex;
    flex-wrap: wrap;

    a {
        width: 33.3333%;
        padding-top: 33.3333%; /* 1:1 Aspect Ratio */
        position: relative;
        line-height: 0;
        p {
            display: none;
            font-family: 'Encode Sans Semi Expanded', sans-serif;
            font-weight: 800;            
            font-size: 5vw;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding:3%;
            span {
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
            }
        }
        .img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        &:hover{
            line-height: 6vw;
            p {
                display: block;
            }
            img {
                display: none;
            }
        }
    }
}

